#root {
    min-height: 100vh;
    background-color: #0093E9;
    background-image: linear-gradient(160deg, #0093E9 0%, #80D0C7 100%);
}

.background {
    background-color: #5783db !important;
}

.home-hover:hover {
    color: inherit;
}

.list-group-item {
    font-size: larger;
    font-weight: bold;
}

.heading {
    border-radius: 2rem;
    font-weight: 700;
    width: 80%;
}

/* utility classes */
.flex-form {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
}

.custom-btn {
    height: 3rem !important;
    border-radius: 2rem !important;
    background-color: #5783db !important;
}

.form-text-buttom {
    font-size: 1rem;
}

@media (max-width:547px) {
    .form-text-buttom {
        font-size: .6rem;
    }
}

.my-card {
    height: auto;
    background: white;
    border: none;
    border-radius: 1rem;
}

.pagination p{
    margin: auto;
}